<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jinux.mydemo" >

    <uses-permission android:name="ANDROID.PERMISSION.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="ANDROID.PERMISSION.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="ANDROID.PERMISSION.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".xuanfukuang.XuanfukuangActivity"
            android:label="悬浮框" />

        <service
            android:name=".xuanfukuang.XuanfukuangService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity android:name=".slidingmenu.SlidingMenuActivity" />
        <activity
            android:name=".titanic.TitanicDemo"
            android:label="@string/title_activity_titanic_demo" >
        </activity>
        <activity
            android:name=".drawer.DrawerActivity"
            android:label="@string/title_activity_drawer" >
        </activity>
        <activity
            android:name=".actitionbar.ActitionBarDemo"
            android:label="@string/title_activity_actition_bar_demo"
            android:theme="@style/Theme.AppCompat.NoActionBar" >
        </activity>
        <activity android:name=".storehouse.StoreHouseUsingStringArray" />
        <activity android:name=".materail_animation.TouchFeedBack" />
        <activity
            android:name=".materail_animation.TestMaterialTransition"
            android:theme="@style/mytheme" />
        <activity
            android:name=".netstate.Netstate"
            android:label="@string/title_activity_netstate" >
        </activity>
        <activity
            android:name=".tabhost.TestTabActivity"
            android:label="@string/title_activity_test_tab" >
        </activity>
    </application>

</manifest>
